[submodule "java-bowler"]
	path = java-bowler
	url = https://github.com/NeuronRobotics/java-bowler.git
[submodule "JCSG"]
	path = JCSG
	url = https://github.com/NeuronRobotics/JCSG.git
[submodule "mujoco-java"]
	path = mujoco-java
	url = https://github.com/CommonWealthRobotics/mujoco-java.git
