[submodule "java-bowler"]
	path = java-bowler
	url = https://github.com/NeuronRobotics/java-bowler.git
[submodule "JCSG"]
	path = JCSG
	url = https://github.com/NeuronRobotics/JCSG.git

[submodule "GithubPasswordManager"]
	path = GithubPasswordManager
	url = https://github.com/CommonWealthRobotics/GithubPasswordManager.git
